.navbarcontainer {
    width: 100vw;
    display: flex;
    position: fixed;
    color: white;
    background: none;
    transition: ease-in-out 0.4s;
    padding: 7px 0px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    max-width: 1100px;
    margin: auto;
    font-family: "Yle Next", sans-serif;
    padding: 0px 20px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 800;
 
    background-size: 100%;
    align-self: center;
}

.opaqueNavbar {
    background: #F8EDF1;
    
    color: #181818;
    transition: ease-in-out 0.4s;
}

.shortenedNavbar {
    padding: 0px;
}

.borderBottom {
    border-bottom: 1px solid #867594;
}

p {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.navlink {
    font-weight: bold;
    padding: 8px 0;
    text-decoration: none;
    transition-duration: 0.3s;
    color: white;
}

.opaqueNavbar a {
    color: #181818;
    transition-duration: 0.3s;
}

.button {
    border-radius: 500px;
    padding: 8px 16px;
    background-color: white;
    color: rgb(58, 0, 50);
    text-decoration: none;
    transition: linear 0.1s;
}

.button:hover {
    background-color: rgb(204, 204, 204);
}

.opaqueNavbar .button {
    background: linear-gradient(-42deg, #eb8dc5, #9a8fe8);
    color: #ffffff;
    transition-duration: 0.3s;
    
}

.opaqueNavbar .button:hover {
    background: linear-gradient(-63deg, #af6993, #7068aa);
}

.navImage {
    padding: 0;
    margin: 0;
    max-height: 37px;
}

.navlink:hover {
    text-decoration: underline;
}


