.navbarcontainer {
    width: 100vw;
    display: flex;
    position: fixed;
    color: white;
    background-color: none;
    padding: 7px 0px;
    z-index: 1000;
    transition: padding 0.25s ease-in-out, background-color 0.25s linear;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    max-width: 1100px;
    margin: auto;
    font-family: "Yle Next", sans-serif;
    padding: 0px 17px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 800;
 
    background-size: 100%;
    align-self: center;
}

.opaqueNavbar {
    background-color: #F8EDF1;
    
    color: #181818;
}

.shortenedNavbar {
    padding: 0px;
}

.borderBottom {
    border-bottom: 1px solid #867594;
}

p {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.navlink {
    font-weight: bold;
    padding: 8px 0;
    text-decoration: none;
    color: white;
    transition: color 0.15s linear;
}

.opaqueNavbar a {
    color: #181818;

}

.button {
    border-radius: 500px;
    padding: 7px 14px;
    background-color: white;
    color: rgb(58, 0, 50);
    text-decoration: none;
    transition: color 0.15s linear, background-color 0.15s linear;
}

.button:hover {
    background-color: rgb(204, 204, 204);
}

.opaqueNavbar .button {
    background: linear-gradient(-42deg, #f282c5cc, #9d94e3cc);
    background-color: #b8b1e3;
    color: #ffffff;
    transition: color 0.2s linear, background-color 0.2s linear;

    
}

.opaqueNavbar .button:hover {
    background-color: #262626;
}

.navImage {
    padding: 0;
    margin: 0;
    max-height: 37px;
}

.navlink:hover {
    text-decoration: underline;
}





@media screen and (max-width: 450px) {
    .navlink {
        display: none;
    }
}

