
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F0EFFF;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .background {
    background: url("/public/resources/images/tausta2.png");
    position: relative;
    width: 100vw;
    height: 100vw;
    overflow: hidden;


  }
  
  /* Containers */
   .body-container {
     flex-wrap: wrap;
     justify-content: space-between;
     max-width: 1000px;
     display: flex;
     flex-direction: column;
     gap: 30px;
   }

   .roster-container {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headings-container {
    display: grid;
    place-items: center; 
  }


  /* Images and texts */


  /*Images */

   .cat-pic {
    align-self: flex-end;
    width: 100%;
    max-width: 500px;

   }

   .cat-pic img {
    border-radius: 12px;
    box-shadow: 10px 10px 0px rgba(24, 24, 24, 0.40);
    max-width: 385px;
   }

  /* Headings */

  h1 {
    color: black;
    font-size: 40px;
    position: static;
    
   }
  
   h2 {
    font-family: 'Yle Next Italic';
    font-weight: bold;
    color: hotpink;
    max-width: 650px;
    font-size: 20px;
    position: static;
   }
   
   /* Texts */

   .textitem1 {
     color: black;
     padding: 1rem;
     max-width: 500px;  
     align-self: flex-start;
   }
   
   .textitem2 {
     color: black;
     padding: 1rem;
     max-width: 500px;  
     align-self: flex-end;
     
   }
  
   .text-item3{
    font-weight: bold;
    padding-top: 20vh;
    color: hotpink;
    text-align: center;
    font-size: 30px;
   }
  
   .text-item4{
    color: black;
    text-align: left;
    font-size: 20px;
   }
  
   .text-item5{
    color: black;
    font-size: 14px;
   }
   
   .textitem2:nth-child(odd) {
     margin-left: auto;
   }
   
   .textitem1:nth-child(even) {
     margin-right: auto;
   }
  
  .pink-word{
    color: hotpink;
  }
   
  .bold-word{
    font-family: 'Yle Next Italic';
    font-weight: bold;
  }
  
  .pink-and-bold-and-cursive-word{
    font-family: 'Yle Next Italic';
    color: hotpink;
    font-weight: bold;
  }
  
